<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.tech.mapif.pm.PGPM0050Mapper">
	<!-- 급여조회 -->
	<!-- 특정 사원의 해당 년의 급여 금액을 조회, 항목금액 총액을 계산 -->
	<select id="selectMntPay" resultType="hashmap">
	SELECT /* EMP_NO=biz.tech.mapif.pm.PGPM0050Mapper.selectMntPay */
				DD.*
				, ITM_AMT_01 + ITM_AMT_02 + ITM_AMT_03 + ITM_AMT_04 + ITM_AMT_05
				+ ITM_AMT_06 + ITM_AMT_07 + ITM_AMT_08 + ITM_AMT_09 + ITM_AMT_10
				+ ITM_AMT_11 + ITM_AMT_12				AS ITM_AMT_TOT
	FROM (
		SELECT CC.EMP_NO
			, CC.PAY_ITM_CD
			, CC.PAY_ITM_NM
			, CC.UP_ITM_CD
			, SUM(CC.ITM_AMT_01) AS ITM_AMT_01
			, SUM(CC.ITM_AMT_02) AS ITM_AMT_02
			, SUM(CC.ITM_AMT_03) AS ITM_AMT_03
			, SUM(CC.ITM_AMT_04) AS ITM_AMT_04
			, SUM(CC.ITM_AMT_05) AS ITM_AMT_05
			, SUM(CC.ITM_AMT_06) AS ITM_AMT_06
			, SUM(CC.ITM_AMT_07) AS ITM_AMT_07
			, SUM(CC.ITM_AMT_08) AS ITM_AMT_08
			, SUM(CC.ITM_AMT_09) AS ITM_AMT_09
			, SUM(CC.ITM_AMT_10) AS ITM_AMT_10
			, SUM(CC.ITM_AMT_11) AS ITM_AMT_11
			, SUM(CC.ITM_AMT_12) AS ITM_AMT_12
		FROM (
			SELECT BB.EMP_NO
				, BB.PAY_ITM_CD AS PAY_ITM_CD
				, AA.PAY_ITM_NM
				, AA.UP_ITM_CD
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '01' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_01
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '02' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_02
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '03' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_03
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '04' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_04
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '05' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_05
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '06' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_06
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '07' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_07
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '08' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_08
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '09' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_09
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '10' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_10
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '11' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_11
				, CASE WHEN SUBSTRING(BB.PAY_YM,-2) = '12' THEN
					IFNULL(ITM_AMT,0) ELSE 0 END AS ITM_AMT_12 
			FROM TB_PAY_ITM_MST AA
				LEFT OUTER JOIN TB_PAY_MNT_LST BB
				ON AA.PAY_ITM_CD = BB.PAY_ITM_CD
			<where>
				SUBSTRING(PAY_YM,1,4) = #{search_year}
				AND AA.USE_YN = 'Y'
			<if test="empNo != '' and empNo != null">
				AND EMP_NO = #{empNo}
			</if>
			</where>
			ORDER BY AA.ITM_SEQ
		) CC
		
		GROUP BY CC.EMP_NO, CC.PAY_ITM_CD, CC.PAY_ITM_NM, CC.UP_ITM_CD
	) DD
	</select>
</mapper>