@CHARSET "UTF-8";
/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	/* width: 1500px; */
	width: 100%;
	height: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}
/*************************************
 * specific styling for #demo3
 ************************************/

#demo3 {
	margin: 40px auto;
}

#demo3 .als-item {
	margin: 0px 5px;
	padding: 20px 5px;		/* 패딩값 (아이템 위로부터 패팅, 아이템끼리 패딩)  */
	min-height: 80px;
	min-width: 100px;
	text-align: center;
}

#demo3 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#demo3 .als-prev, #demo3 .als-next {
	top: 40px;
}

#demo3 .als-prev {
	left: 200px;
	vertical-align: middle;
	align: right;
}

#demo3 .als-next {
	right: 200px;
	vertical-align: middle;
	align: left;
}