@charset "utf-8";


/*내정보관리
	--------------------------------------------------*/
.my_info{position: relative;border-top: 1px solid #205e8d;padding-top: 20px;}
.my_info h4{font-size: 14px;color: #416e98;font-family: "Dotum";margin-bottom: 10px;}
/*회원탈퇴*/
.mb_out {position: relative;border-top: 1px solid #205e8d;font-family: "Dotum";padding-top: 30px;}
.mb_out .img_zone{position: relative;background: url("../images/my/img_out.png") left top no-repeat;height: 220px;padding-top: 15px;margin-left: 20px;}
.mb_out .img_zone p{margin-left: 245px;line-height: 21px;letter-spacing: -0.5px;}
.mb_out .img_zone p strong{color: #416e98;font-weight: bold;font-size: 14px;margin-bottom: 8px;display: block;}
.mb_out .text_info{position: relative;line-height: 21px;}
.mb_out .text_info a{font-weight: bold;text-decoration: underline;}
.mb_out .text_info ul li{background: url("../images/cm/bul02.png") 0 7px no-repeat;line-height: 18px;padding-left: 9px;margin-bottom: 5px}

/* 나의묻고답하기 말줄임 */
.list_zone table td.tw{width: 500px;}
.list_zone table td.tw a{display: block;width: 500px;text-align:left;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}