<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	수정일		수정자					수정내용
  =========     =======    =================================================
  2011.8.24   	이기하     	 	테이블 표준화에 따른 수정사항 반영
  							QUSTNR_TMPLAT_ID 를			 	QESTNR_TMPLAT_ID 로 변경
							FRST_REGIST_PNTTM 를			FRST_REGISTER_PNTTM 로 변경
							QUSTNR_QESITM_ID 를				QESTNR_QESITM_ID 로 변경
							QUSTNR_SJ 를					QESTNR_SJ 로 변경
							QUSTNR_RSPNS_RESULT_ID 를		QESTNR_QESRSPNS_ID 로 변경
  2011.09.19       서준식 		QustnrRespondInfo.selectQustnrRespondInfoManage 등록일자 Character 타입으로 변경							
  2011.10.05    서준식               보안 취약점 점검사항 반영 $->#변경	
-->
<mapper namespace="QustnrRespondInfo">

	<!-- 설문등록:: 설문템플릿조회 -->
	<select id="selectQustnrTmplatManages" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrTmplatManages */
					QUSTNR_TMPLAT_ID		 QESTNR_TMPLAT_ID,
					QUSTNR_TMPLAT_TY		 QESTNR_TMPLAT_TY,
					RGSDE,
					REGISTER,
					UPDDE,
					UPDUSR,
					QUSTNR_TMPLAT_DC		    QESTNR_TMPLAT_CN,
					QUSTNR_TMPLAT_PATH_NM	    QESTNR_TMPLAT_COURS
	FROM 		comtnqustnrtmplat
	WHERE 		1=1
		AND 		QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
	</select>

	<!-- 설문조사(통계/객관식):: 설문지 전체 통계 -->
	<select id="selectQustnrRespondInfoManageStatistics1" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageStatistics1 */
					A.QUSTNR_TMPLAT_ID		 QESTNR_TMPLAT_ID,
					A.QESTNR_ID,
					A.QUSTNR_QESITM_ID		    QESTNR_QESITM_ID,
					A.QUSTNR_IEM_ID,
					(
						SELECT IEM_CN 
						FROM comtnqustnriem
						WHERE 1=1
							AND QUSTNR_IEM_ID = A.QUSTNR_IEM_ID
					) IEM_CN,
					COUNT(A.QUSTNR_IEM_ID) QUSTNR_IEM_ID_CNT,
					ROUND((100/ (SELECT COUNT(*) CNT 
											FROM comtnqustnrrspnsresult 
											WHERE QUSTNR_QESITM_ID = A.QUSTNR_QESITM_ID) 
					) * COUNT(A.QUSTNR_IEM_ID)) QUSTNR_PERCENT
	FROM 		comtnqustnrrspnsresult A
	WHERE 		1=1
		AND 		A.QESTNR_ID = #{qestnrId}
		AND 		A.QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
		AND 		(A.QUSTNR_IEM_ID IS NOT NULL AND A.QUSTNR_IEM_ID != '')
	GROUP BY 	A.QUSTNR_TMPLAT_ID,A.QESTNR_ID, A.QUSTNR_QESITM_ID, A.QUSTNR_IEM_ID
	</select>
	
	<!-- 설문조사(통계/주관식):: 설문지 전체 통계 -->
	<select id="selectQustnrRespondInfoManageStatistics2" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageStatistics2 */
					A.QUSTNR_TMPLAT_ID		 QESTNR_TMPLAT_ID,
					A.QESTNR_ID,
					A.QUSTNR_QESITM_ID		    QESTNR_QESITM_ID,
					A.QUSTNR_IEM_ID,
					A.ETC_ANSWER_CN,
					A.RESPOND_ANSWER_CN,
					A.RESPOND_NM
	FROM 		comtnqustnrrspnsresult A
	WHERE 		1=1
		AND 		A.QESTNR_ID = #{qestnrId}
		AND 		A.QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
		AND 		(A.QUSTNR_IEM_ID IS NULL OR A.QUSTNR_IEM_ID = '')
	</select>

	<!-- 설문조사(설문등록):: 설문등록 /사용자 정보-->
	<select id="selectQustnrRespondInfoManageEmplyrinfo" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageEmplyrinfo */
					USER_NO,
					NM,
					TELNO,
					EMAIL,
					DEPT_NM
	FROM 		tb_emplyr
	WHERE 		1=1
		AND 		USER_NO = #{uniqId}
	</select>
	
	<!-- 설문조사(설문등록):: 설문등록 /설문지정보-->
	<select id="selectQustnrRespondInfoManageComtnqestnrinfo" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageComtnqestnrinfo */
					A.QESTNR_ID,
					A.QUSTNR_SJ				    QESTNR_SJ,
					A.QUSTNR_PURPS			    QESTNR_PURPS,
					A.QUSTNR_WRITNG_GUIDANCE_CN    QESTNR_WRITNG_GUIDANCE_CN,
					DATE_FORMAT(A.QUSTNR_BGNDE, '%Y-%m-%d') 	QESTNR_BEGIN_DE,
					DATE_FORMAT(A.QUSTNR_ENDDE, '%Y-%m-%d') 	QESTNR_END_DE,
					IF(DATE_FORMAT(sysdate(), '%Y-%m-%d') between DATE_FORMAT(A.QUSTNR_BGNDE, '%Y-%m-%d') and DATE_FORMAT(A.QUSTNR_ENDDE, '%Y-%m-%d'), 'T', 'F')  VALID_DATE,
					A.RGSDE,
					A.REGISTER,
					A.UPDDE,
					A.UPDUSR,
					A.QUSTNR_TRGET			    QESTNR_TRGET,
					A.QUSTNR_TMPLAT_ID		 QESTNR_TMPLAT_ID
	FROM 		comtnqestnrinfo A
	WHERE		1=1
		AND 		A.QESTNR_ID = #{qestnrId}
		AND 		A.QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
	</select>
	
	<!-- 설문조사(설문등록):: 설문등록 /설문문 항정보-->
	<select id="selectQustnrRespondInfoManageComtnqustnrqesitm" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageComtnqustnrqesitm */
					A.QUSTNR_QESITM_ID		    QESTNR_QESITM_ID,
					A.QESTNR_ID,
					A.RGSDE,
					A.REGISTER,
					A.UPDDE,
					A.UPDUSR,
					A.QESTN_SN,
					A.QESTN_TY_CODE,
					A.QESTN_CN,
					A.MXMM_CHOISE_CO,
					A.QUSTNR_TMPLAT_ID		 QESTNR_TMPLAT_ID
	FROM		comtnqustnrqesitm A
	WHERE		1=1
		AND		A.QESTNR_ID = #{qestnrId}
		AND		A.QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
	ORDER BY	A.QESTN_SN ASC
	</select>

	<!-- 설문조사(설문등록):: 설문등록 /설문 항목정보 -->
	<select id="selectQustnrRespondInfoManageComtnqustnriem" parameterType="java.util.Map" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageComtnqustnriem */
					A.QUSTNR_QESITM_ID	    QESTNR_QESITM_ID,
					A.QESTNR_ID,
					A.IEM_SN,
					A.RGSDE,
					A.REGISTER,
					A.UPDDE,
					A.UPDUSR,
					A.QUSTNR_IEM_ID,
					A.IEM_CN,
					A.ETC_ANSWER_AT,
					A.QUSTNR_TMPLAT_ID	 QESTNR_TMPLAT_ID
	FROM		comtnqustnriem A
	WHERE		1=1
		AND		A.QESTNR_ID = #{qestnrId}
		AND		A.QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
	ORDER BY	A.IEM_SN ASC
	</select>

	<!-- 설문조사(설문등록)::목록조회_게시물정보 -->
	<select id="selectQustnrRespondInfoManage" parameterType="comDefaultVO" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManage */
					A.QESTNR_ID,
					IF(CHAR_LENGTH(A.QUSTNR_SJ) > 50, CONCAT(SUBSTR(A.QUSTNR_SJ, 1, 48),'...'), A.QUSTNR_SJ)	    QESTNR_SJ,
					A.QUSTNR_PURPS    QESTNR_PURPS,
					A.QUSTNR_WRITNG_GUIDANCE_CN	    QESTNR_WRITNG_GUIDANCE_CN,
					DATE_FORMAT(A.QUSTNR_BGNDE, '%Y-%m-%d')    QESTNR_BEGIN_DE,
					DATE_FORMAT(A.QUSTNR_ENDDE, '%Y-%m-%d')    QESTNR_END_DE,
					A.QUSTNR_TRGET		    QESTNR_TRGET,
					A.QUSTNR_TMPLAT_ID	 QESTNR_TMPLAT_ID,
					DATE_FORMAT(A.RGSDE, '%Y-%m-%d')	 RGSDE,
					A.REGISTER,
					B.NM REGISTER_NM, 
					A.UPDDE,
					A.UPDUSR
	FROM		comtnqestnrinfo A
	JOIN			tb_emplyr B
		ON		B.USER_NO = A.REGISTER
	WHERE		1=1
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'QUSTNR_SJ'">
		AND		A.QUSTNR_SJ LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'REGISTER'">
		AND		B.NM LIKE CONCAT('%', #{searchKeyword}, '%')
		</if> 
	ORDER BY	A.RGSDE DESC
	LIMIT			#{recordCountPerPage} OFFSET #{firstIndex}
	</select>

	<!-- 설문조사(설문등록)::목록조회_게시물 총갯수  -->
	<select id="selectQustnrRespondInfoManageCnt" parameterType="comDefaultVO" resultType="int">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoManageCnt */
					COUNT(*) totcnt
	FROM		comtnqestnrinfo A
	JOIN			tb_emplyr B  
		ON 		B.USER_NO = A.REGISTER
	WHERE		1=1
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'QUSTNR_SJ'">
		AND		A.QUSTNR_SJ LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'REGISTER'">
		AND		B.NM LIKE CONCAT('%', #{searchKeyword}, '%')
		</if> 
	</select>

	<!-- 응답자결과(설문조사)::설문템플릿정보 -->
	<select id="selectQustnrTmplatManage" parameterType="QustnrRespondInfoVO" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrTmplatManage */
					QUSTNR_TMPLAT_ID		 QESTNR_TMPLAT_ID,
					QUSTNR_TMPLAT_TY		 QESTNR_TMPLAT_TY
	FROM comtnqustnrrspnsresult
	</select>

	<!-- 응답자결과(설문조사)::삭제  -->
	<delete id="deleteQustnrRespondInfo">
	DELETE	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.deleteQustnrRespondInfo */
	FROM		comtnqustnrrspnsresult
	WHERE		1=1
		AND		QUSTNR_RSPNS_RESULT_ID = #{qestnrQesrspnsId}
	</delete>

	<!-- 응답자결과(설문조사)::수정  -->
	<update id="updateQustnrRespondInfo">
	UPDATE	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.updateQustnrRespondInfo */
					comtnqustnrrspnsresult
	SET
					QUSTNR_IEM_ID=#{qustnrIemId},
					RESPOND_ANSWER_CN=#{respondAnswerCn},
					RESPOND_NM=#{respondNm},
					ETC_ANSWER_CN=#{etcAnswerCn},
					UPDDE = sysdate(),
					UPDUSR = #{updusr}
	WHERE		1=1
		AND		QUSTNR_RSPNS_RESULT_ID = #{qestnrQesrspnsId}
	</update>

	<!-- 응답자결과(설문조사)::상세보기 -->
	<select id="selectQustnrRespondInfoDetail" parameterType="QustnrRespondInfoVO" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoDetail */
					QUSTNR_RSPNS_RESULT_ID					    QESTNR_QESRSPNS_ID,
					( SELECT QUSTNR_SJ FROM comtnqestnrinfo
					  WHERE 1=1
					  AND QESTNR_ID = A.QESTNR_ID )    QESTNR_SJ,
					( SELECT QESTN_TY_CODE FROM comtnqustnrqesitm
					  WHERE 1=1
					  AND QUSTNR_QESITM_ID = A.QUSTNR_QESITM_ID	) QESTN_TY_CODE,
					( SELECT QESTN_CN FROM comtnqustnrqesitm
					  WHERE 1=1
					  AND QUSTNR_QESITM_ID = A.QUSTNR_QESITM_ID	) QESTN_CN,
					( SELECT IEM_CN FROM comtnqustnriem
					  WHERE 1=1
					  AND QUSTNR_IEM_ID = A.QUSTNR_IEM_ID ) IEM_CN,
					A.QUSTNR_IEM_ID,
					A.QUSTNR_QESITM_ID			    QESTNR_QESITM_ID,
					A.QESTNR_ID,
					A.RESPOND_ANSWER_CN,
					A.RESPOND_NM,
					A.ETC_ANSWER_CN,
					A.QUSTNR_TMPLAT_ID			 QESTNR_TMPLAT_ID,
					A.RGSDE,
					A.REGISTER,
					A.UPDDE,
					A.UPDUSR
	FROM		comtnqustnrrspnsresult A
	WHERE		1=1
		AND		A.QUSTNR_RSPNS_RESULT_ID = #{qestnrQesrspnsId}
	</select>

	<!-- 응답자결과(설문조사)::목록조회_게시물정보 -->
	<select id="selectQustnrRespondInfo" parameterType="comDefaultVO" resultType="egovMap">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfo */
					QUSTNR_RSPNS_RESULT_ID		    QESTNR_QESRSPNS_ID,
					(
					SELECT QESTN_TY_CODE FROM comtnqustnrqesitm
					WHERE 1=1
					AND QUSTNR_QESITM_ID = A.QUSTNR_QESITM_ID
					) QESTN_TY_CODE,
					(
					SELECT QESTN_CN FROM comtnqustnrqesitm
					WHERE 1=1
					AND QUSTNR_QESITM_ID = A.QUSTNR_QESITM_ID
					) QESTN_CN,
					(
					SELECT IEM_CN FROM comtnqustnriem
					WHERE 1=1
					AND QUSTNR_IEM_ID = A.QUSTNR_IEM_ID
					) IEM_CN,
					A.QUSTNR_IEM_ID,
					A.QUSTNR_QESITM_ID,
					A.QESTNR_ID,
					A.RESPOND_ANSWER_CN,
					A.RESPOND_NM,
					A.ETC_ANSWER_CN,
					A.QUSTNR_TMPLAT_ID	 QESTNR_TMPLAT_ID,
					A.RGSDE,
					A.REGISTER,
					(SELECT NM FROM tb_emplyr WHERE USER_NO = A.REGISTER) REGISTER_NM,
					A.UPDDE,
					A.UPDUSR
	FROM		comtnqustnrrspnsresult A
	WHERE		1=1
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'ETC_ANSWER_CN'">
		AND		ETC_ANSWER_CN LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'RESPOND_ANSWER_CN'">
		AND		RESPOND_ANSWER_CN LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'RESPOND_NM'">
		AND		RESPOND_NM LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
 
	ORDER BY	A.RGSDE DESC
	LIMIT			#{recordCountPerPage} OFFSET #{firstIndex}
	
	</select>

	<!-- 응답자결과(설문조사)::목록조회_게시물 총갯수  -->
	<select id="selectQustnrRespondInfoCnt" parameterType="comDefaultVO" resultType="int">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectQustnrRespondInfoCnt */
					COUNT(*) totcnt
	FROM comtnqustnrrspnsresult
	WHERE 1=1
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'ETC_ANSWER_CN'">
		AND		ETC_ANSWER_CN LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'RESPOND_ANSWER_CN'">
		AND		RESPOND_ANSWER_CN LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchKeyword != null and searchKeyword != '' and searchCondition == 'RESPOND_NM'">
		AND		RESPOND_NM LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
	</select>

	<!-- 중복응답 체크  -->
	<select id="selectCheckDuplQustnrRespond" parameterType="comDefaultVO" resultType="int">
	SELECT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.selectCheckDuplQustnrRespond */
					COUNT(*) cnt
	FROM comtnqustnrrspnsresult
	WHERE 		QESTNR_ID = #{qestnrId}
		AND		QUSTNR_TMPLAT_ID = #{qestnrTmplatId}
		AND		TRGTER_EMAIL = #{EMAIL}
	</select>
	
	<!-- 응답자결과(설문조사)::입력  -->
	<insert id="insertQustnrRespondInfo">
	INSERT	/* ProgramID=sqlmap.egovcom.olp.EgovQustnrRespondInfoMapper.insertQustnrRespondInfo */
	INTO			comtnqustnrrspnsresult (
					QUSTNR_RSPNS_RESULT_ID,
					QUSTNR_QESITM_ID,
					QESTNR_ID,
					QUSTNR_TMPLAT_ID,
					QUSTNR_IEM_ID,
					RESPOND_ANSWER_CN,
					RESPOND_NM,
					ETC_ANSWER_CN,
					TRGTER_EMAIL,
					RGSDE,
					REGISTER )
	VALUES	(
					#{qestnrQesrspnsId},
					#{qestnrQesitmId},
					#{qestnrId},
					#{qestnrTmplatId},
					#{qustnrIemId},
					#{respondAnswerCn},
					#{respondNm},
					#{etcAnswerCn},
					#{trgterEmail},
					sysdate(),
					#{register}
	)
	</insert>

</mapper>